<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />

  <link type="text/css" rel="stylesheet" href="/css/diy.css" media="screen,projection">
  
  <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
  
  <script type="text/javascript">
    $(document).ready(function() {
      //$('.paper_content:eq(0)').addClass('paper_focus');
      //$('.paper_content:gt(0)').addClass('paper_focus_not');
      $('.paper_content:eq(0)').show();
      $('.paper_content:gt(0)').hide();
      $('.card:eq(0)').addClass('blue');
      $('.card:gt(0)').addClass('grey');
     });
      
    
   </script>
  
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>用户主页-{{userName}}</title>
</head>

<body>

  <!--导航栏-->
  <nav class="light-green">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Blog</a>
        <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>{{userName}}</li>
          <li><a href="/logout">退出</a></li>
          <li><a href="/explore">浏览</a></li>
          <li><a href="/about">关于</a></li>
        </ul>

        <ul id="mobile-demo" class="side-nav">
          <li>{{userName}}</li>
          <li><a href="/logout">退出</a></li>
          <li><a href="/explore">浏览</a></li>
          <li><a href="/about">关于</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!--文章界面-->
  <div class="row">
    <div class="col s2 fixed">
      <div class="container">
        <ul>
          <li class="mark"><a href="/user/{{userName}}" class="">主页</a></li>
          <li class="mark"><a href="/user/{{userName}}/content" class="light-green-text">文章</a></li>
          <li class="mark"><a href="#" class="">信息</a></li>
          <li class="mark"><a href="#" class="">发现</a></li>
          <li class="mark"><a href="#" class="">更多</a></li>
        </ul>
      </div>
    </div>

    <div class="col s3">
      <p></p>
      <a class="waves-effect waves-light btn-large" href="./editNew"><i class="material-icons left">note_add</i>写文章</a>
      
      {{! what should look like
        <div class="card">
          <div class="card-content white-text">
            <span class="card-title">Title</span>
          </div>
          <div class="card-action">
            <a href="#">User</a>
            <span>Time</span>
            <a href="#" class="right"><i class="material-icons right">edit</i>编辑</a>
          </div>
        </div>
      }}
      
      {{#userPaperList Paper}} {{/userPaperList}}

    </div>
    
    {{! what should look like
      <div class="col s7 paper_content">
      <h1>Title</h1>
      <p>Textareas allow larger expandable user input. The border should light up simply and clearly indicating which field
        the user is currently editing. You must have a .input-field div wrapping your input and label. This helps our jQuery
        animate the label. This is only used in our Input and Textarea form elements.</p>
      </div>
    }}
    
    {{#userPaperContent Paper}} {{/userPaperContent}}

    
  </div>









  <!--底部栏-->
  <footer class="page-footer light-green">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="white-text">新时代的博客</h5>
          <p class="grey-text text-lighten-4">记录,分享,创作,传播</p>
          <p class="grey-text text-lighten-4">这是一个创作的地方, 强调独创性, 记录个人生活点滴, 传达个人自由思想,抒发与分享个人情绪, 分享与交流知识技术,认识同好, 结交朋友</p>
          <p class="grey-text text-lighten-4">期待你的加入</p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">分享至</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">微信</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">微博</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">QQ空间</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a class="grey-text text-lighten-4" href="">By Mark</a> © 2015 TZH, All rights reserved.
      </div>
    </div>
  </footer>




  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/s/materialize.min.js"></script>
  <script type="text/javascript" src="/js/init.js"></script>
  
  <script type="text/javascript">
    $('.card').click(function() {
      $('.blue').removeClass('blue').addClass('grey');
      $(this).removeClass('grey').addClass('blue');
      
      var index = $(this).index('.card');
      $('.paper_content').hide();
      $('.paper_content').eq(index).show();
    });
    
    
    
  </script>
  
</body>

</html>